<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
    <form class="d-flex w-100">
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 align-self-center" href="./dashboard">
            <span data-feather="home" class="align-text-bottom"></span>영주시 상수 웹조회시스템
        </a>
        <input class="form-control form-control-dark rounded-0 border-0 flex-grow-1 ms-3" type="text"
               placeholder="검색어를 입력하세요" aria-label="Search">
    </form>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <button id="toggle-modify" class="nav-link px-3" href="#">시설 관리</button>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="folder" class="align-text-bottom"></span>
                            <!--                            <i class="bi bi-folder"></i>-->
                            수치지형도
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="forder" class="align-text-bottom"></span>-->
                            <i class="bi bi-building" style="color: blue"></i>
                            건물 및 도로
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="shopping-cart" class="align-text-bottom"></span>-->
                            <i class="bi bi-triangle-half" style="color: green"></i>
                            표고점
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="users" class="align-text-bottom"></span>-->
                            <i class="bi bi-border-left"></i>
                            지적선 및 지번
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="bar-chart-2" class="align-text-bottom"></span>-->
                            <i class="bi bi-border-left" style="color:red;"></i>
                            법정동 경계
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="layers" class="align-text-bottom"></span>-->
                            <i class="bi bi-border-left" style="color: purple"></i>
                            행정동 경계
                        </a>
                    </li>
                </ul>


                <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted text-uppercase">
                    <span>상수 관로</span>
                    <a class="link-secondary" href="#" aria-label="Add a new report">
                        <!--                        <span data-feather="plus-circle" class="align-text-bottom"></span>-->
                    </a>
                </h6>
                <ul class="nav flex-column mb-2">
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="file-text" class="align-text-bottom"></span>-->
                            <i class="bi bi-reception-0 Primary" style="color:blue"></i>
                            상수관로
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="file-text" class="align-text-bottom"></span>-->
                            <i class="bi bi-reception-0" style="color:red"></i>
                            폐관
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="file-text" class="align-text-bottom"></span>-->
                            <i class="bi bi-dash-lg" style="color:aqua"></i>
                            가정급수관
                        </a>
                    </li>
                </ul>

                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="folder" class="align-text-bottom"></span>
                            상수 시설
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            정수장
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            배수지
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            가압장
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            급수전
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            스케일부스터
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            상수맨홀
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            유량시설
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            변류시설
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            감압변
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            소방시설
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            보수공사
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <span data-feather="layers" class="align-text-bottom"></span>
                            사용자주기
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        지도를 표시할 div 입니다
        <div id="map-container">
            <div id="kakaoMap" ></div>
            <div id="olMap" ></div>
        </div>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b2eac2f3f14fe2948b46f883c997e3f5"></script>
        <script src="/javascripts/bundle.js"></script>
    </div>
</div>