<!--<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">-->
<!--    <form class="d-flex w-100">-->
        <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3 fs-6 align-self-center" href="./dashboard">
            <span data-feather="home" class="align-text-bottom"></span>웹조회 시스템
        </a>
        <input class="form-control form-control-dark rounded-0 border-0 flex-grow-1 ms-3" type="text"
               placeholder="검색어를 입력하세요" aria-label="Search">
    </form>
    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <button id="toggle-modify" class="nav-link px-3" href="#">시설 관리</button>
        </div>
    </div>
</header>

<div class="container-fluid">
    <div class="row">
        <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
            <div class="position-sticky pt-3 sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">
                            <span data-feather="folder" class="align-text-bottom"></span>
                            <!--                            <i class="bi bi-folder"></i>-->
                            수치지형도
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="forder" class="align-text-bottom"></span>-->
                            <i class="bi bi-building" style="color: blue"></i>
                            건물 및 도로
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="shopping-cart" class="align-text-bottom"></span>-->
                            <i class="bi bi-triangle-half" style="color: green"></i>
                            표고점
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">
                            <!--                            <span data-feather="users" class="align-text-bottom"></span>-->
                            <i class="bi bi-border-left"></i>
                            지적선 및 지번
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <h1>지출</h1>
        <table border="1">
            <tr>
                <td>지출날짜</td>
                <td>대항목</td>
                <td>소항목</td>
                <td>상세</td>
                <td>지출구분</td>
                <td>금액</td>
            </tr>
            {{#each res.rows}}
            {{/each}}
        </table>
        <table border="1">
            <h1>수입</h1>
            <tr>
                <td>수입날짜</td>
                <td>대항목</td>
                <td>소항목</td>
                <td>수입구분</td>
                <td>금액</td>
            </tr>
            {{#each rows}}
            {{/each}}
        </table>
        <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=b2eac2f3f14fe2948b46f883c997e3f5"></script>
        <script src="/javascripts/bundle.js"></script>
    </div>
</div>
