<h1>지출</h1>
<table border="1">
    <tr>
        <td>지출날짜</td>
        <td>대항목</td>
        <td>소항목</td>
        <td>상세</td>
        <td>지출구분</td>
        <td>금액</td>
    </tr>
{{#each res.rows}}
{{/each}}
</table>
<table border="1">
    <h1>수입</h1>
        <tr>
            <td>수입날짜</td>
            <td>대항목</td>
            <td>소항목</td>
            <td>수입구분</td>
            <td>금액</td>
        </tr>
{{#each rows}}
{{/each}}
</table>
<script src="/javascripts/bundle.js"></script>
